.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://cdn.pixabay.com/photo/2019/04/25/04/35/smart-home-4153906_1280.jpg") ;
  background-size: cover;
  background-position: center center;
}
